* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #050060;
    color: #eee;
}

.container {
    padding: 20px;
}

/* Сетка фильмов */
.movies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
    padding: 20px 0;
}

/* Карточка фильма */
.movie {
    background-color: #1e1e1e;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s;
}

.movie:hover {
    transform: scale(1.05);
}

.movie img {
    width: 100%;
    display: block;
    border-bottom: 1px solid #333;
}

.movie h3 {
    font-size: 1.1rem;
    margin: 10px;
}

.movie p, .movie span {
    font-size: 0.9rem;
    margin: 0 10px 10px 10px;
}

/* Карусель баннеров */
.carousel {
  width: 100vw;                  /* вся ширина окна браузера */
  max-width: 100%;               /* чтобы не было лишнего скролла */
  overflow: hidden;
  position: relative;            /* для кнопок */
  border-radius: 25px;              /* если хочешь, чтобы впритык к краям */
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-track img {
  width: 100vw;                  /* баннер растягивается на всю ширину окна */
  flex-shrink: 0;
}

/* Кнопки */
.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  border: none;
  font-size: 2rem;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
  user-select: none;
  transition: background 0.3s;
}

.carousel-button:hover {
  background-color: rgba(0,0,0,0.8);
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}


